.App {
  text-align: center;
  /* background-image: url("./assets/images/allison_gr22_1200.jpg");
  
  height: 100vh; */
  /* width: 100vw; */
}
.background {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden !important;
  
  background-image: url("./assets/images/allison_gr22_1200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3E3E42;
}
p {
  font-family: "BitterLight";
  color: #E7E1D5;
}
h1 {
  font-family: "BitterMedium";
  color: #E7E1D5;
  letter-spacing: 3px;
  
}
.text {
margin-top: 26em;
margin-bottom: 2em;
}

a {
  font-family: "BitterMedium";
  font-size: 20px;
}
.dark {
  color: #E7E1D5;
  background-color: #000;
}
.flashyBtn {
  border: 0px;
  padding: 10px;
  text-decoration: none;
  margin-top: 20px;
}
.light {
  color: #000;
  background-color: #E7E1D5;
}
@media screen and (min-width: 480px) {
  .text {
    margin-top: 6em;

    }
}
